.text-box {
  height: 100%;
  background-color: rgba(90, 57, 7, 0.87);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text-box p {
  width: 600px;
  font-family: 'Indie Flower', cursive;
  font-size: 32px;
  color: rgba(255, 255,255, 0.3);
  letter-spacing: 2px;
  line-height: 40px;
  margin: 40px 0;
}

a.btn {
  text-decoration: none;
  color: rgba(255, 255,255, 0.3);
  font-family: 'Indie Flower', cursive;
  font-size: 32px;
  transition: 0.3s;
  padding-bottom: 0px;
  position: relative;
  transition-delay: 0.6s;
}

.line {
  right: 0;
  width: 100%;
  position: absolute;
  transition: 0.3s;
  transition-delay: 0.3s;
}

.line-left-top {
  left: 0;
  top: 0;
  position: absolute;
  height: 50%;
  border-right: rgba(255,255,255, 0.3) solid 1px;
  transition: 0.3s;
}

.line-left-bottom {
  left: 0;
  bottom: 0;
  position: absolute;
  height: 50%;
  border-right: rgba(255,255,255, 0.3) solid 1px;
  transition: 0.3s;
}

a.btn:hover .line-left-top, a.btn:hover .line-left-bottom {
  height: 0;
}

.line-top {
  top: 0;
  border-bottom: rgba(255,255,255, 0.3) solid 1px;
}

.line-bottom {
  bottom: 0;
  border-top: rgba(255,255,255, 0.3) solid 1px;
}

a.btn:hover .line {
  width: 0;
}

.line-right {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border-left: rgba(255,255,255, 0.3) solid 1px;
  transition: 0.3s;
  transition-timing-function: cubic-bezier(.19,1.64,.48,1.01);
  transform-origin: 0 50%;
  transition-delay: 0.6s;
}

a.btn:hover .line-right {
  height: 50%;
  top: 25%;
  transform: rotate(90deg) translateY(-20px);
  border-left: rgba(255,255,255, 0.5) solid 2px;
  box-shadow: 0 0 0 1px rgba(255,255,255, 0.5);
  border-radius: 99999px;
}

a.btn:hover {
  color: rgba(255,255,255, 0.5);
  transition-delay: 0.6s;
}
