.background {
  background-color: rgb(109, 71, 24);
  height: 100vh;
}

.content {
  text-align: justify;
  display: flex;
  font-family: 'Indie Flower', cursive;
  font-size: 28px;
  color: rgba(255,255,255,0.5);
  line-height: 1.2;
  margin: 24px 0;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

}

.btn-container {
  position: relative;
  display: flex;
  justify-content: center;
}

a {
  padding: 10px 20px;
  position: relative;
  z-index: 3;
  color: rgba(255,255,255,0.5);
  transition-duration: 0.8s
}

a:hover {
  color: rgba(255,255,255,0.8);
  text-decoration: none;
  transition-delay: 1s;
}

.brown-block {
  position: absolute;
  height: 100%;
  width: calc(100% - 8px);
  background-color: rgb(109, 71, 24);
  z-index: 2;
}

.line-top {
  width: calc(100% - 8px);
  border-top: 1px solid rgba(255,255,255,0.5);
  position: absolute;
  z-index: 3;
  top: 0px;
}
.line-btm {
  width: calc(100% - 8px);
  border-top: 1px solid rgba(255,255,255,0.5);
  position: absolute;
  z-index: 3;
  bottom: 0px;
}
.line-left-btm {
  height: calc(50% - 4px);
  border-left: 1px solid rgba(255,255,255,0.5);
  position: absolute;
  bottom: 4px;
  left: 0px;
  transition-delay: 1s !important;
    transition-timing-function: linear !important;

}
.line-left-top {
  height: calc(50% - 4px);
  border-left: 1px solid rgba(255,255,255,0.5);
  position: absolute;
  top: 4px;
  left: 0px;
  transition-delay: 1s !important;
    transition-timing-function: linear !important;

}
.line-right-btm {
  height: calc(50% - 4px);
  border-left: 1px solid rgba(255,255,255,0.5);
  position: absolute;
  bottom: 4px;
  right: 0px;
  transition-delay: 1s !important;
    transition-timing-function: linear !important;

}
.line-right-top {
  height: calc(50% - 4px);
  border-left: 1px solid rgba(255,255,255,0.5);
  position: absolute;
  top: 4px;
  right: 0px;
  transition-delay: 1s !important;
    transition-timing-function: linear !important;

}

.arc {
    border: 1px solid rgba(255,255,255,0.5);
    padding: 3px;
    border-radius: 50%;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    transition-delay: 0.8s !important;
    transition-timing-function: linear !important;
    transition-duration: 0.2s !important;
}

.arc-tl {
  top: 0px;
  left: 0px;
  transform: rotate(-45deg);
}
.arc-tr {
  top: 0px;
  right: 0px;
  transform: rotate(45deg);
}
.arc-bl {
  bottom: 0px;
  left: 0px;
  transform: rotate(-135deg);
}
.arc-br {
  bottom: 0px;
  right: 0px;
  transform: rotate(135deg);
}

.btn-container:hover .line-right-btm {
  height: 0;
}
.btn-container:hover .line-right-top {
  height: 0;
}
.btn-container:hover .line-left-btm {
  height: 0;
}
.btn-container:hover .line-left-top {
  height: 0;
}

.btn-container:hover .arc-tl {
  transform: rotate(45deg);
}
.btn-container:hover .arc-tr {
  transform: rotate(-45deg);
}
.btn-container:hover .arc-bl {
  transform: rotate(-225deg);
}
.btn-container:hover .arc-br {
  transform: rotate(225deg);
}

.btn-container:hover .line-top {
  width: calc(100% - 20px);
  transform: translateY(5px);
}
.btn-container:hover .line-btm {
  width: calc(100% - 20px);
  transform: translateY(-5px);
}

.transition {
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.transition-slow {
  transition: 0.8s;
}

.btn-container:hover .line-btm {
  transition-delay: 1s;
}
.btn-container:hover .line-top {
  transition-delay: 1s;
}

.btn-container:hover .arc {
  transition-delay: 0.5s !important;
}

.btn-container:hover .line-left-top {
  transition-delay: 0s !important;
}
.btn-container:hover .line-left-btm {
  transition-delay: 0s !important;
}
.btn-container:hover .line-right-top {
  transition-delay: 0s !important;
}
.btn-container:hover .line-right-btm {
  transition-delay: 0s !important;
}
