.background {
  background-color: rgb(109, 71, 24);
  height: 100vh;
}

.content {
  text-align: justify;
  display: flex;
  font-family: 'Indie Flower', cursive;
  font-size: 28px;
  color: rgba(255,255,255,0.5);
  line-height: 1.2;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.btn-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.btn {
  border: 1px solid rgba(255,255,255,0.5);
  transition: 1s !important;
}

.line-top {
  width: 124%;
  border-top: 1px solid black;
  position: absolute;
  top: -20%;
}
.line-btm {
  width: 124%;
  border-top: 1px solid black;
  position: absolute;
  bottom: -20%;
}
.line-left-btm {
  height: 50%;
  border-left: 1px solid black;
  position: absolute;
  top: 50%;
  left: -20%;
}
.line-left-top {
  height: 55%;
  border-left: 1px solid black;
  position: absolute;
  top: -1px;
  left: -20%;
}
.line-right-btm {
  height: 50%;
  border-left: 1px solid black;
  position: absolute;
  top: 50%;
  right: -20%;
}
.line-right-top {
  height: 55%;
  border-left: 1px solid black;
  position: absolute;
  top: -1px;
  right: -20%;
}

.arc {
    border: 1px solid #000;
    padding: 3px;
    border-radius: 50%;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
}

.arc-tl {
  top: -20%;
  left: -20%;
  transform: rotate(-45deg);
}
.arc-tr {
  top: -20%;
  right: -20%;
  transform: rotate(45deg);
}
.arc-bl {
  bottom: -20%;
  left: -20%;
  transform: rotate(-135deg);
}
.arc-br {
  bottom: -20%;
  right: -20%;
  transform: rotate(135deg);
}
