h1 {
  font-weight: lighter;
  font-size: 60px;
  margin-top: 24px;
}

.logos {
  display: flex;
  justify-content: center;
}

.logo-box {
  display: flex;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}

.grow-box {
  position: relative;
  height: 120px;
  width: 150px;
  display: flex;
  justify-content:center;
  align-items: center;
}

.logo {
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
}

.logo-label {
  line-height: 1;
}

.heading-box {
  text-align: center;
}

#heading {
  transition: 0.5s;
}

.fade {
  opacity: 0;
}

img {
  opacity: 0.6;
  transition: 0.5s;
  filter: grayscale(100%);
}

img:hover {
  opacity: 1;
  filter: none;
  height: 60px;
}

.nav {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.border-box {
  border-bottom: 1px solid black;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin-top: 16px;
}

.active-line-right {
  width: 100%;
  border-bottom: 3px solid black;
  position: absolute;
  bottom: 0;
  transform: translateX(-101%);
  transition: 0.5s;
}

.active-line-left {
  width: 100%;
  border-bottom: 3px solid black;
  position: absolute;
  bottom: 0;
  /*transform: translateX(101%);*/
  transition: 0.5s;
}

.nav h2 {
  font-size: 16px;
  margin: 0 10px;
  margin-bottom: 8px;
}

.hide-accordion {
  transform: scaleY(0);
  overflow: hidden;
}

.container {
  transition: 0.2s;
  transform-origin: top;
  position: absolute;
}

.card-header {
  background-color: transparent;
  text-align: center;
  border: none;
  margin-bottom: -16px;
}

.header-format {
  font-size: 32px !important;
  font-weight: lighter;
  color: rgba(0,0,0,0.4);
}

.header-format:hover {
  text-decoration: none;
  color: rgba(0,0,0,0.6);
}

.header-format:focus {
  text-decoration: none;
}

.accordion .card {
  border: none;
}

.card-body {
  text-align: center;
  padding: 0;
}

.card-body h2 {
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 16px;
  text-decoration: underline;
}

.card-body h3 {
  font-size: 20px;
  margin: 0;
  font-weight: lighter;
}

.card-body p {
  margin: 0;
}

.event {
  margin: 24px 0;
}

.collapse-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fade-box {
  opacity: 0.4;
  transition: 1s;
  margin: 0 10px;
}
.fade-box:hover {
  opacity: 1;
}
.fade-box h2 {
  text-align: center;
}
.fade-box p {
  text-align: justify;
}
