.banner {
  /*background-image: url("images/swimming_main.png");*/
  height: 100vh;
  /*background-position: 50%;*/
  /*background-size: cover*/
  display: flex;
  position: relative;
}

.banner-content {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  pointer-events: none;
  z-index: 2;
}
.banner-content h1 {
  color: rgb(28, 41, 90);
  font-family: 'Indie Flower', cursive;
  font-size: 100px;
  background: radial-gradient(farthest-side, rgba(255,255,255,1), rgba(255,255,255,0));
  border-radius: 100%;
  padding: 200px;
}

.banner-image-1 {
  flex: 0 1 70%;
  background-image: url("images/sailing_racing_main.jpg");
  background-size: cover;
  opacity: 0.7;
  transition: 1s;
}
.banner-image-1:hover {
  opacity: 1;
}
.banner-image-1 .filter {
  background-image: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 80%, rgba(255,255,255,1) 100%);
  height: 100%;
}

/*.banner-image-1 .filter:hover {
  background-image: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 80%, rgba(255,255,255,1) 100%);
  height: 100%;
}*/

.banner-image-2 {
  flex: 0 1 70%;
  background-image: url("images/sailing_management_main.png");
  background-size: cover;
  background-position: right;
  opacity: 0.7;
  transition: 1s;
}
.banner-image-2:hover {
  opacity: 1;
}
.banner-image-2 .filter {
  background-image: linear-gradient(-90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 80%, rgba(255,255,255,1) 100%);
  height: 100%;
}
/*.banner-image-2 .filter:hover {
  background-image: linear-gradient(-90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 80%, rgba(255,255,255,1) 100%);
}*/

.banner-foot {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
}

.scroll-label {
  font-size: 25px;
  transform: translateY(-10px);
  animation: iconbounce 2s infinite;
  color: rgba(0,220,255,0.1);
}

@keyframes iconbounce {
    50% {
      transform: translateY(0);
      color: rgba(0,220,255,0.20);
      font-size: 30px;
    }
}
