.panel-container:hover h1 {
  /*color: rgba(255,255,255,0.2) !important;*/
  transform: translateY(-60vh);
}

.panel-container {
  display: flex;
  overflow: hidden;
  align-items: center;
}

.panel-container .heading-box {
  position: absolute;
  width: 100%;
  pointer-events: none;
  padding: 30px;
}

.panel-container .heading-box h1 {
  text-align: center;
  color: rgba(255,255,255,0.9);
  font-size: 100px;
  font-family: 'Indie Flower', cursive;
  -webkit-transition: 1s; /* Safari */
  transition: 1s;
}

.panel {
  flex: 2;
  height: 100vh;
  background-size: cover;
  -webkit-transition: 1s; /* Safari */
  transition: 1s;
}

.panel:hover {
  flex: 3;
}

.panel-filter {
  width: 100%;
  height: 100%;
  -webkit-transition: 1s; /* Safari */
  transition: 1s;
  background: rgba(0,0,0,0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel-filter:hover {
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0));
}

.panel-filter:hover h2 {
  transform: translateY(0);
  color: rgba(255,255,255,0.8);
}

.panel-sail {
  background-image:url("images/sail_panel.png");
  background-position: 14%;
}
.panel-swim {
  background-image:url("images/swim_panel.jpg");
  background-position: 48%;
}
.panel-travel {
  background-image:url("images/travel_panel.png");
  background-position: 80%;
}
.panel-coffee {
  background-image:url("images/coffee_panel.png");
  background-position: 20%;
}
.panel-pro {
  background-image:url("images/pro_panel.png");
  background-position: 50%;
}

.panel h2 {
  transform: translateY(100vh);
  -webkit-transition: 1s; /* Safari */
  transition: 1s;
  color: rgba(255,255,255,0);
}

a.panel-filter {
  text-decoration: none;
}
