.banner {
  /*background-image: url("images/swimming_main.png");*/
  height: 100vh;
  /*background-position: 50%;*/
  /*background-size: cover*/
  position: relative;
  transition: 1s;
  margin-bottom: -30vh;
}

.banner.shrink {
  height: 200px !important;
}

.banner-content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  padding-bottom: 30vh;
}
.banner-content h1 {
  color: rgba(26, 197, 86, 0.71);
  font-family: 'Indie Flower', cursive;
  font-size: 120px;
}

.banner-image {
  background-image: url("images/travel_main.png");
  background-size: cover;
  background-position: right;
  position: absolute;
  width: 100%;
  height: 100%;
}
.banner-image .filter {
  background-image: linear-gradient(rgba(0,0,0,0), rgba(255,255,255,1));
  height: 100%;
}

.banner-foot {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
}

.scroll-label {
  font-size: 25px;
  transform: translateY(-10px);
  animation: iconbounce 2s infinite;
  color: rgba(26, 197, 86, 0.2);
}

@keyframes iconbounce {
    50% {
      transform: translateY(0);
      color: rgba(26, 197, 86, 0.4);
      font-size: 30px;
    }
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.panel {
  width: 150px;
  height: 400px;
  background-size: cover;
  display: inline-block;
  position: relative;
  margin: 24px 8px;
  cursor: pointer;
}

.panel .title {
  position: absolute;
  transform: rotate(-90deg) translateY(45%) translateX(-90%);
  transform-origin: left;
  font-size: 32px;
  color: white;
  z-index: 3;
  white-space: nowrap;
}

.panel .filter {
  background-image: linear-gradient(rgba(0,0,0,0.4), transparent);
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 1s;
}

.panel .rectangle {
  width: 156px;
  height: 21px;
  position: absolute;
  bottom: -1px;
  left: -5px;
  background-color: white;
  z-index: 3;
  transition: 1s;
}

.panel .triangle {
  border-bottom: 93px solid white;
  border-left: 158px solid transparent;
  position: absolute;
  bottom: 19px;
  left: -5px;
  z-index: 3;
  transition: 1s;
}

.panel:hover .triangle, .panel:hover .rectangle {
  transform: translateY(20px);
}

.panel:hover .filter {
  opacity: 0.6;
}

.estonia {
  background-image: url("images/estonia.jpg");
  background-position: 60%;
}
.croatia2 {
  background-image: url("images/croatia2.png");
  background-position: 60%;
}
.ravenna {
  background-image: url("images/ravenna.jpg");
  background-position: 60%;
}
